.vscode/**
.vscode-test/**
src/**
webview/src/**
webview/index.html**
scripts/**
docs/**
node_modules/**
.gitignore
.gitattributes
.eslintignore
.eslintrc*
.prettierrc*
editorconfig
esbuild.mjs
vite.config.ts
tsconfig*.json
*.tsbuildinfo
**/*.tsbuildinfo
**/*.map
TODO.md
.github/**
**/.git/**
**/.DS_Store
opencode-vscode-client-*.vsix
